body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box_big{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: red
}
ul{
  padding: 10px;
}
li{
  list-style: none;
}
div p{
   margin: 0;
  }
.p_user{
  padding: 15px;
}
.p_user font{
  padding: 10px;
  display: inline-block;
  background: red;
  border-radius: 5px;
  color: #ffffff;
}
.p_user>p:nth-child(1){
  font-size: 22px;
  color: #FF5722;
}
.i_user{
  text-align: right;
  padding: 15px;
  padding-right: 25px;
}
.i_user>p:nth-child(1){
  font-size: 22px;
  color: #1790ed;
}
.p_user>p:nth-child(1)>span,.i_user>p:nth-child(1)>span{
  margin-left: 20px;
  color: #777777;
  font-size: 14px;
}
.i_user font{
  padding: 10px;
  display: inline-block;
  background: #1790ed;
  border-radius: 5px;
  color: #ffffff;
}